@font-face {
	font-family: "WorkSans";
	src: url("fonts/WorkSans.ttf?") format("ttf")
}

@font-face {
	font-family: "WorkSansThin";
	src: url("fonts/WorkSans-Thin.ttf?") format("ttf")
}

@font-face {
	font-family: "WorkSansLight";
	src: url("fonts/WorkSans-Light.ttf?") format("ttf")
}

@font-face {
	font-family: "WorkSansBold";
	src: url("fonts/WorkSans-Bold.ttf?") format("ttf")
}


@font-face {
	font-family: "PeaceSansWeb";
	src: url("fonts/Peace Sans Webfont.ttf?") format("ttf")
}

@font-face {
	font-family: "PeaceSans";
	src: url("fonts/Peace Sans.otf?") format("otf")
}
