$color-coffe1: #070705;
$color-coffe2: #2c0a0a;
$color-coffe3: #431b11;
$color-coffe4: #5d3f32;
$color-coffe5: #8d573f;

$color-blue1: rgb(101, 110, 136);
$color-blue2: rgb(115, 124, 123);
$color-blue3: rgb(147, 169, 170);
$color-blue4: #b0e0e6;

$font-worksans: "WorkSans";
$font-worksans-thin: "WorkSansThin";
$font-worksans-light: "WorkSansLight";
$font-worksans-bold: "WorkSansBold";
$font-PeaceSans: "PeaceSans";
$font-PeaceSans-Web: "PeaceSansWeb"
